* {
    font-family: Arial,;
}
h1 {
    font-family: Geneva,;
}

h3 {
    font-family: Geneva,;
}

body {
    background-color: orange;
}

article {
    background-image: linear gradient(black, white);
    border-radius: 0.75em; 
    margin-bottom: 1em;
    box-shadow: 2px 2px;
}
header {
    background-image: url("https://images.unsplash.com/photo-1470125634816-ede3f51bbb42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3Vuc2V0JTIwcGFub3JhbWF8ZW58MHx8MHx8&w=1000&q=80");
    background-size: cover;
    color: white;
    border-radius: 0.75em;
    margin-bottom: 1em;
    box-shadow: 5px 5px;
    text-shadow: 3px 3px
}

a {
    color: lightseagreen;
}
a:hover {
    background-color: white;
}

img {
    display: block;
    height: 20%;
    border: solid lightseagreen;
    border-radius: 0.75em;
}

.subheading {
    border-bottom: solid 20px white;
}


/* this styles the HTML document within this folder */ 